.nav {
    background-color: #2c3e50;
    height: 50px;
    color: white;
}

.start {
    background-color:#1abc9c;
    text-align: center;
    color: white;
}

.portfolio {
    text-align: center;
}

.about {
    background-color:#1abc9c;
    text-align: center;
    color: white;
}

.center {
    text-align: center;
}

.footer {
    text-align: center;
    background-color: #3a546d;
    color: white;
}

.copyright {
    background-color: #2c3e50;
    color: white;
    text-align: center;
} 

.menu {
    display: none;
}

@media all and (max-width: 576px) {
    .button {
        display: none;
    }

    .menu {
        display: inline-block;
    }
}

