html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*nav*/
.nav {
    background-color: #2c3e50;
    height: 50px;
    color: white;
}

.list-inline li:hover .hover-color-link{
    color: #1abc9c;
}
/*/nav*/

/*start*/
.start {
    background-color:#1abc9c;
    color: white;
}

.avatar {
    width: 20%;
}

.line-star {
    width: 10%;
    height: 5px;
}
/*/start*/

/*portfolio*/
.portfolio {
    text-align: center;
}

.square {
    width: 100%;
    background-color: #1abc9c; 
    position: relative;
    transition-duration: 3s;
}

.plus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 7em;
    filter: opacity(0);
    transition-duration: 2s;
}

img {
    width: 100%;
    transition-duration: 1s;
}

.square:hover .plus {
    filter: opacity(1);
}

.square:hover img {
    filter: opacity(0);
}

/*/portfolio*/

/*about*/
.about {
    background-color:#1abc9c;
    color: white;
}
/*/about*/

/*contact*/
.btn-success {
    background-color:#1abc9c; 
}

.contact-type:hover .form-label,
.contact-type:active .form-label {
    font-size: 0.8em;
}
/*/contact*/

/*footer*/
.footer {
    background-color: #3a546d;
    color: white;
}

.row div span {
    color: #1abc9c; 
}
/*footer*/

/*copyright*/
.copyright {
    background-color: #2c3e50;
    color: white;
} 
/*/copyright*/


